{% extends 'base.html' %}

{% block content %}


    <!-- Banner Section -->
    <section class="page-banner">
        <div class="image-layer" style="background-image:url(static/images/main-photo/banya-krasivie-foto.jpg);"></div>
        <div class="banner-bottom-pattern"></div>

        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>О нас</h1>
                    <div class="page-nav">
                        <ul class="bread-crumb clearfix">
                            <li><a href="/index">Главная</a></li>
                            <li class="active">О нас</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!--Featured Section-->
    <section class="featured-section-four about-page">
        <span class="dotted-pattern dotted-pattern-11"></span>
        <div class="circles-two">
            <div class="c-1"></div>
            <div class="c-2"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <!--Text Column-->
                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title">
                            <h2>Вас приветствует компания Sauna</h2>
                        </div>
                        <div class="text">Современная и стильная баня. Приятная и уютная обстановка, распологающая к комфортнуму отдыху. В вашем распоряжении 3 сауны, джакузи, бассейны, комнаты отдыха, спутниковое ТВ и бильярд.</div>
                        <ul class="features">
                                <li>Возможен расчет пластиковой картой</li>
                                <li>Можете позвонить и забронировать удобное для вас время</li>
                            </ul>
                        <div class="signature"><img src="static/images/resource/signature-1.png" alt="" title=""></div>
                    </div>
                </div>
                <!--Image Column-->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <span class="dotted-pattern dotted-pattern-10"></span>
                        <div class="image-box clearfix">
                            <figure class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="static/images/main-photo/door.jpeg" alt="" title=""></figure>
                            <figure class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="static/images/main-photo/towels-in-the-interior.jpg" alt="" title=""></figure>
                            <figure class="image wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="static/images/main-photo/sea-salt-towels.jpg" alt="" title=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Facts Section-->
    <section class="facts-section-two alternate">
        <div class="circles">
            <div class="c-1"></div>
            <div class="c-2"></div>
        </div>
        <div class="auto-container">
            <div class="sec-title">
                <h2>Всегда готовы к новым предложениям и идеям</h2>
                <div class="lower-text">Так что, можете озвучивать свои предложения и идеи</div>
            </div>
            <!--Facts Column-->
            <div class="facts-box">
                <div class="row clearfix">
                    <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                        <div class="fact-inner">
                            <div class="fact-count wow zoomInStable" data-wow-delay="0ms" data-wow-duration="2000ms"><div class="count-box counted"><span class="count-text" data-stop="25" data-speed="2000">3</span></div></div>
                            <h4>3 полноценных здания</h4>
                            <div class="text">У нас большой выбор услуг. Скучать не предется.</div>
                        </div>
                    </div>
                    <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                        <div class="fact-inner">
                            <div class="fact-count wow zoomInStable" data-wow-delay="600ms" data-wow-duration="2000ms"><div class="count-box counted"><span class="count-text" data-stop="310" data-speed="4000">30</span></div></div>
                            <h4>Вместимость нашей сауны</h4>
                            <div class="text">Наша сауна оборудована новейшими технологиями и может одновременно принимать до 30 человек, обеспечивая комфортный отдых для всех гостей</div>
                        </div>
                    </div>
                    <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                        <div class="fact-inner">
                            <div class="fact-count wow zoomInStable" data-wow-delay="300ms" data-wow-duration="2000ms"><div class="count-box counted"><span class="count-text" data-stop="712" data-speed="5000">100+</span></div></div>
                            <h4>Довольных клиентов</h4>
                            <div class="text">Более 70 счастливых клиентов за первый месяц работы</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--Why Section-->
    <!--Наша История
    <section class="history-section">
        <span class="dotted-pattern dotted-pattern-6"></span>
        <span class="tri-pattern tri-pattern-5"></span>
        <div class="circles">
            <div class="c-1"></div>
            <div class="c-2"></div>
        </div>
        <div class="auto-container">
            <div class="sec-title centered">
                <h2>Our History</h2>
                <div class="lower-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</div>
            </div>
            <div class="h-container">
                <!--Block--
                <div class="history-block">
                    <div class="row clearfix">
                        <div class="content-col col-lg-6 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image-box">
                                    <div class="image"><img src="static/images/my_photo/2.webp" alt=""></div>
                                </div>
                                <div class="lower-box">
                                    <h3>The Beginning</h3>
                                    <div class="text">Sint occaecat cuidatat non proident sunt in culpa qui officia mollit anim id est laborum perspiciatis.</div>
                                </div>
                            </div>
                        </div>
                        <div class="empty-col col-lg-6 col-md-6 col-sm-12">

                        </div>
                    </div>
                </div>
                <!--Block--
                <div class="history-block alternate">
                    <div class="row clearfix">
                        <div class="content-col col-lg-6 col-md-6 col-sm-12">
                            <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image-box">
                                    <div class="image"><img src="static/images/my_photo/2.webp" alt=""></div>
                                </div>
                                <div class="lower-box">
                                    <h3>2002 The Beginning</h3>
                                    <div class="text">Sint occaecat cuidatat non proident sunt in culpa qui officia mollit anim id est laborum perspiciatis.</div>
                                </div>
                            </div>
                        </div>
                        <div class="empty-col col-lg-6 col-md-6 col-sm-12">

                        </div>
                    </div>
                </div>
                <!--Block--
                <div class="history-block">
                    <div class="row clearfix">
                        <div class="content-col col-lg-6 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image-box">
                                    <div class="image"><img src="static/images/my_photo/2.webp" alt=""></div>
                                </div>
                                <div class="lower-box">
                                    <h3>2011 The Mid-Term</h3>
                                    <div class="text">Sint occaecat cuidatat non proident sunt in culpa qui officia mollit anim id est laborum perspiciatis.</div>
                                </div>
                            </div>
                        </div>
                        <div class="empty-col col-lg-6 col-md-6 col-sm-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

    <!--Testimonials Section-->
    <section class="testimonials-section">
        <div class="circles-two">
            <div class="c-1"></div>
            <div class="c-2"></div>
        </div>
        <div class="auto-container">
            <div class="sec-title centered">
                <h2>Отзывы наших клиентов</h2>
                <div class="lower-text">Мы ценим каждый отзыв и совершенствуем свои услуги</div>
            </div>

            <div class="carousel-box">
                <div class="testimonial-carousel owl-theme owl-carousel">
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Идеально чисто! Доступная цена! Внимательный персонал! Ощутила полный восторг!</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/woman.jpg" alt=""></div>
                                <div class="name">Александра</div>
                                <!--
                                <div class="designation">Designer</div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Ребята молодцы, делают свою работу на высоком уровне. Товары всегда новые, цены вполне доступные. Часто проводятся скидки, акции, что особо радует :) Буду рекомендовать всем друзьям и близким.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/man1.jpg" alt=""></div>
                                <div class="name">Валерий</div>
                                <!--
                                <div class="designation">Developer</div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Всё чисто, вода приятной температуры, в парилке комфортно, что для меня лично самое главное. Персонал вежливый, умеет работать с людьми. Чай вкусный!</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/man2.jpg" alt=""></div>
                                <div class="name">Андрей</div>
                                <!--
                                <div class="designation">Designer</div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Идеально чисто! Доступная цена! Внимательный персонал! Ощутила полный восторг!</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/woman.jpg" alt=""></div>
                                <div class="name">Александра</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Ребята молодцы, делают свою работу на высоком уровне. Товары всегда новые, цены вполне доступные. Часто проводятся скидки, акции, что особо радует :) Буду рекомендовать всем друзьям и близким.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/man1.jpg" alt=""></div>
                                <div class="name">Валерий</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Всё чисто, вода приятной температуры, в парилке комфортно, что для меня лично самое главное. Персонал вежливый, умеет работать с людьми. Чай вкусный!</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/man2.jpg" alt=""></div>
                                <div class="name">Андрей</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Идеально чисто! Доступная цена! Внимательный персонал! Ощутила полный восторг!</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/woman.jpg" alt=""></div>
                                <div class="name">Александра</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Ребята молодцы, делают свою работу на высоком уровне. Товары всегда новые, цены вполне доступные. Часто проводятся скидки, акции, что особо радует :) Буду рекомендовать всем друзьям и близким.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/man1.jpg" alt=""></div>
                                <div class="name">Валерий</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Всё чисто, вода приятной температуры, в парилке комфортно, что для меня лично самое главное. Персонал вежливый, умеет работать с людьми. Чай вкусный!</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="static/images/clients/man2.jpg" alt=""></div>
                                <div class="name">Андрей</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    
<!--End pagewrapper--><!--Scroll to top--><div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>

{% endblock %}