{% extends 'base.html' %}

{% block content %}

    <!-- Banner Section -->
    <section class="page-banner ext-banner">
        <div class="image-layer" style="background-image:url(static/images/discount/strong.jpg);background-position:0;"></div>
        <div class="banner-bottom-pattern"></div>

        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!--Wellness Spa Section-->
    <section class="wellness-spa">
        <span class="dotted-pattern dotted-pattern-3"></span>
        <span class="tri-pattern tri-pattern-3"></span>
        <div class="auto-container">
            <div class="upper-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="upper-inner">
                    <div class="circles">
                        <div class="c-1"></div>
                        <div class="c-2"></div>
                    </div>
                    <h2>Блок Акций и скидок</h2>
                    <!--
                    <div class="hours">Opening Hours: <span>09:00AM - 10:00PM</span></div>
                    -->
                    <div class="text">
                        <p>Рады представить вам нашу услугу - аренда сауны! Мы предлагаем уютную, просторную и чистую сауну, где вы можете отдохнуть и расслабиться в приятной атмосфере.</p>
                        <p>Помимо комфортной обстановки, мы также гарантируем вам безопасность и чистоту нашего оборудования. Мы регулярно проводим профилактические работы и дезинфицируем помещение после каждого посетителя.</p>
                        <ul>
                            <li>"Получите скидку на аренду сауны в будние дни!" – в рабочие дни, с понедельника по четверг, мы предоставляем скидку на аренду нашей сауны. Отдохните и расслабьтесь по выгодной цене!</li>
                            <li>"Приглашайте друзей и получайте скидку на аренду сауны!" – приглашайте своих друзей в нашу сауну и получайте скидку на аренду. Чем больше друзей вы приведете, тем больше скидка будет!</li>
                            <li>"Бонус для новых клиентов!" – если вы впервые обратились к нам за арендой сауны, мы дарим вам бонус! Сделайте свой первый визит у нас по-настоящему выгодным!</li>
                            <li>"Подарочный сертификат на аренду сауны!" – подарите своим близким и друзьям возможность расслабиться и насладиться отдыхом в нашей сауне. Мы предлагаем подарочные сертификаты на аренду, которые вы можете приобрести прямо сейчас!</li>
                        </ul>
                    </div>
                    <div class="link-box">
                        <a href="#" class="theme-btn btn-style-one"><span class="btn-title">Скачать брошюру</span></a>
                    </div>
                </div>
            </div>

            <div class="lower-box">
                <span class="dotted-pattern dotted-pattern-3"></span>
                <div class="row clearfix">
                    <div class="image-block col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image"><a href="images/resource/featured-image-46.jpg" class="lightbox-image"><img src="images/resource/featured-image-46.jpg" alt="" title=""></a></figure>
                    </div>
                    <div class="image-block col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image"><a href="images/resource/featured-image-47.jpg" class="lightbox-image"><img src="images/resource/featured-image-47.jpg" alt="" title=""></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--End pagewrapper--><!--Scroll to top--><div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>
{% endblock %}