{% extends 'base.html' %}

{% block content %}

<!-- Banner Section -->
<section class="page-banner">
    <div class="image-layer" style="background-image:url(static/images/main-photo/banya-krasivie-foto.jpg);"></div>
    <div class="banner-bottom-pattern"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Главная</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/index">Главная</a></li>
                        <li class="active">Галерея</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<!--Gallery Section-->
<section class="gallery-section-two">
    <div class="auto-container">
        <!--Masonry Galery-->
        <div class="sortable-masonry filter-gallery">
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="filter active" data-role="button" data-filter=".all">Все</li>
                    <li class="filter" data-role="button" data-filter=".special">Здание 1</li>
                    <li class="filter" data-role="button" data-filter=".luxury">Здание 2</li>
                    <li class="filter" data-role="button" data-filter=".family">Здание 3</li>
                    <li class="filter" data-role="button" data-filter=".fitness">Еще что-то</li>
                    <li class="filter" data-role="button" data-filter=".activity">Прочее</li>
                </ul>                     
            </div>

            <div class="items-container row clearfix">
                <!--Item-->
                <div class="gallery-item masonry-item all fitness col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="static/images/main-photo/door.jpeg" alt="" title="">
                            </div>
                            <a href="static/images/main-photo/door.jpeg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item masonry-item all special activity col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="static/images/main-photo/door.jpeg" alt="" title="">
                            </div>
                            <a href="static/images/main-photo/door.jpeg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item masonry-item all special luxury col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="static/images/main-photo/door.jpeg" alt="" title="">
                            </div>
                            <a href="static/images/main-photo/door.jpeg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item masonry-item all special luxury family fitness activity col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="static/images/main-photo/door.jpeg" alt="" title="">
                            </div>
                            <a href="static/images/main-photo/door.jpeg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item masonry-item all special fitness activity col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="static/images/main-photo/door.jpeg" alt="" title="">
                            </div>
                            <a href="static/images/main-photo/door.jpeg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>
                
                <!--Item-->
                <div class="gallery-item masonry-item all special fitness activity col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="static/images/main-photo/door.jpeg" alt="" title="">
                            </div>
                            <a href="static/images/main-photo/door.jpeg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!--End pagewrapper--><!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>
{% endblock %}