{% extends 'base.html' %}

{% block content %}








<!-- Banner Section -->
<section class="banner-section banner-four">
    <div class="banner-bottom-pattern"></div>

    <div class="banner-carousel owl-theme owl-carousel">
        <!-- Slide Item -->
        <div class="slide-item">
            <div class="image-layer" style="background-image: url(static/images/index/ugolok.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="content">
                        <div class="inner">
                            <h1>Вековые традиции <br> русской бани!</h1>
                            <div class="text">Найдите свой идеальный отдых: в шумной компании с друзьями, в семейном
                                кругу или гордом одиночестве. В здоровой и тёплой атмосфере!</div>
                            <div class="link-box">
                                <a href="about.html" class="theme-btn btn-style-two"><span class="btn-title">Связаться с
                                        нами</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item">
            <div class="image-layer" style="background-image: url(static/images/index/vederka.jpeg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="content">
                        <div class="inner">
                            <h1>Indescrible Luxury <br>Ranch Destination</h1>
                            <div class="text">Найдите свой идеальный отдых: в шумной компании с друзьями, в семейном
                                кругу или гордом одиночестве. В здоровой и тёплой атмосфере!</div>
                            <div class="link-box">
                                <a href="/about" class="theme-btn btn-style-two"><span class="btn-title">Связаться с
                                        нами</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item">
            <div class="image-layer" style="background-image: url(static/images/index/zvezdi.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="content">
                        <div class="inner">
                            <h1>Вековые традиции <br> русской бани!</h1>
                            <div class="text">Чистейший воздух, уютные домики, окруженные лесом - все это позволит Вам отстраниться от городской суеты и темпа повседневности, стать чуть ближе к природе, проникнуться атмосферой гармонии и безмятежности</div>
                            <div class="link-box">
                                <a href="about.html" class="theme-btn btn-style-two"><span class="btn-title">Связаться с
                                        нами</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End Banner Section -->

<!--Featured Section-->
<section class="featured-section-four">
    <span class="dotted-pattern dotted-pattern-11"></span>
    <div class="circles-two">
        <div class="c-1"></div>
        <div class="c-2"></div>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title">
                        <h2>Ощутите нашу атмосферу!</h2>
                    </div>
                    <div class="text">В жизни русского человека особое место занимает традиция омовения в бане. Это
                        часть нашей национальной философии. Наша сауна приносит волшебный оздоровительный эффект, во
                        многом, благодаря использованию в парной знаменитой на весь мир печи – «каменки». Такая парная
                        даёт по-настоящему значимый для здоровья результат, очищающий тело и благоприятно влияющий на
                        настроение и на состояние внутреннего мира</div>
                    <ul class="features">
                        <li>Можете позвонить и забронировать удобное для вас время</li>
                        <li>Возможен расчет пластиковой картой</li>
                    </ul>
                    
                    <div class="signature"><img src="static/images/my_photo/2.webp" alt="" title=""></div>
                </div>
            </div>

            <!--Image Column-->

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <span class="dotted-pattern dotted-pattern-10"></span>
                    <div class="image-box clearfix">
                        <figure class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><img
                                src="static/images/index/bassein.jpg" alt="" title=""></figure>
                        <figure class="image wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms"><img
                                src="static/images/index/vederka.jpeg" alt="" title=""></figure>
                        <figure class="image wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms"><img
                                src="static/images/index/smiling-man.jpg" alt="" title=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Rooms Section-->
<section class="rooms-section-four">
    <div class="pattern-top"></div>
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>Наши Комнаты</h2>
            <div class="lower-text">Банный комплекс располагается в природном парке, в 10 км от города. Чистейший
                воздух, уютные домики и коттеджи, окруженные лесом, река в шаговой доступности от комплекса - все это
                позволит Вам отстраниться от городской суеты и темпа повседневности, стать чуть ближе к природе,
                проникнуться атмосферой гармонии и безмятежности.</div>
        </div>
        <div class="row clearfix">
            <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="room-block-one height-three wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image-layer" style="background-image: url(static/images/my_photo/2.webp);"></div>
                            <figure class="image"><img src="static/images/my_photo/2.webp" alt="" title=""></figure>
                        </div>
                        <div class="cap-box">
                            <div class="cap-inner">
                                <div class="price">От <span>3 000₽</span></div>
                                <h5>Инфомация о комнате</h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="room-block-one height-three wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image-layer" style="background-image: url(static/images/my_photo/2.webp);"></div>
                            <figure class="image"><img src="static/images/my_photo/2.webp" alt="" title=""></figure>
                        </div>
                        <div class="cap-box">
                            <div class="cap-inner">
                                <div class="price">От <span>4 000₽</span></div>
                                <h5>Инфомация о комнате</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="room-block-one height-four wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image-layer" style="background-image: url(static/images/my_photo/2.webp);"></div>
                            <figure class="image"><img src="static/images/gallery/3.jpg" alt="" title=""></figure>
                        </div>
                        <div class="cap-box">
                            <div class="cap-inner">
                                <div class="price">От <span>5 000₽</span></div>
                                <h5>Просто комната</h5>
                            </div>
                        </div>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <h4>Отличная комната</h4>
                                <div class="pricing clearfix">
                                    <div class="price">От <span>5 000₽</span></div>

                                </div>

                                <div class="text">Бассейн 5х5, температура воды 29-30 градусов, постоянная фильтрация
                                </div>
                                <div class="link-box"><a href="room-single.html" class="theme-btn btn-style-one"><span
                                            class="btn-title">Связаться с нами</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="room-block-one height-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image-layer" style="background-image: url(static/images/my_photo/2.webp);"></div>
                            <figure class="image"><img src="static/images/my_photo/2.webp" alt="" title=""></figure>
                        </div>
                        <div class="cap-box">
                            <div class="cap-inner">
                                <div class="price">От <span>6 000₽</span></div>
                                <h5>Люксовая комната</h5>
                            </div>
                        </div>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <h4>Люксовая комната</h4>
                                <div class="pricing clearfix">
                                    <div class="price">От <span>6 000₽</span></div>

                                </div>

                                <div class="text">Аудио-видео аппаратура, домашний кинотеатр, караоке.Нарды, шашки,
                                    шахматы, карты, бильярд</div>
                                <div class="link-box"><a href="room-single.html" class="theme-btn btn-style-one"><span
                                            class="btn-title">Связаться с нами</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room-block-one height-three wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image-layer" style="background-image: url(static/images/my_photo/2.webp);"></div>
                            <figure class="image"><img src="static/images/my_photo/2.webp" alt="" title=""></figure>
                        </div>
                        <div class="cap-box">
                            <div class="cap-inner">
                                <div class="price">От <span>7 000₽</span></div>
                                <h5>Большая комната</h5>
                            </div>
                        </div>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <h4>Большая комната</h4>
                                <div class="pricing clearfix">
                                    <div class="price">От <span>7 000₽</span></div>

                                </div>

                                <div class="text">Для бронирования часов отдыха в наших банях достаточно заполнить форму
                                    и отправить заявку</div>
                                <div class="link-box"><a href="room-single.html" class="theme-btn btn-style-one"><span
                                            class="btn-title">Связаться с нами</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Offers Section-->
<section class="offers-section-three alternate">
    <div class="outer-container clearfix">
        <div class="row clearfix">
            <div class="image-column col-lg-6 col-md-12">
                <div class="inner">
                    <div class="image-layer" style="background-image: url(static/images/index/parnaya.jpg);"></div>
                </div>
            </div>
            <div class="text-column clearfix col-lg-6 col-md-12">
                <div class="circles">
                    <div class="c-1"></div>
                    <div class="c-2"></div>
                </div>
                <div class="inner">
                    <div class="carousel-box">
                        <div class="single-item-carousel owl-theme owl-carousel">
                            <div class="slide-item">
                                <div class="inner-box">
                                    <div class="price">Цена: <span>4 000 ₽</span></div>
                                    <h3>Комната 1 <br>Просторая комната</h3>
                                    <div class="text">Lorem ipsum dolor sit amet con stur adipisicing elit sed eiusmtem
                                        por incid dolore magna aliqu enim ad minim veniam quis nostrud exercittion
                                        laboris nis aliquip.</div>
                                    <ul class="features">
                                        <li>Enim ad minim veniam quis nostrud.</li>
                                        <li>Minim veniam quis nostrud.</li>
                                    </ul>
                                    <div class="link-box"><a href="room-single.html"
                                            class="theme-btn btn-style-two"><span class="btn-title">Get Offer</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="inner-box">
                                    <div class="price">Цена: <span>5 000 ₽</span></div>
                                    <h3>Комната 2<br>С бильярдом</h3>
                                    <div class="text">Lorem ipsum dolor sit amet con stur adipisicing elit sed eiusmtem
                                        por incid dolore magna aliqu enim ad minim veniam quis nostrud exercittion
                                        laboris nis aliquip.</div>
                                    <ul class="features">
                                        <li>Enim ad minim veniam quis nostrud.</li>
                                        <li>Minim veniam quis nostrud.</li>
                                    </ul>
                                    <div class="link-box"><a href="room-single.html"
                                            class="theme-btn btn-style-two"><span class="btn-title">Get Offer</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="inner-box">
                                    <div class="price">Цена: <span>6 000 ₽</span></div>
                                    <h3>Комната 3 <br>С бассейном</h3>
                                    <div class="text">Lorem ipsum dolor sit amet con stur adipisicing elit sed eiusmtem
                                        por incid dolore magna aliqu enim ad minim veniam quis nostrud exercittion
                                        laboris nis aliquip.</div>
                                    <ul class="features">
                                        <li>Enim ad minim veniam quis nostrud.</li>
                                        <li>Minim veniam quis nostrud.</li>
                                    </ul>
                                    <div class="link-box"><a href="room-single.html"
                                            class="theme-btn btn-style-two"><span class="btn-title">Get Offer</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Facts Section
<section class="facts-section-two">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Always Ready <br>to Take Challange</h2>
            <div class="lower-text">Lorem ipsum dolor sit consectetur adipisicing elit sed do eiusmod tempor incididunt
                ut labore dolore magna aliqua. enim ad minim veniam quis nostrud exercitation.</div>
        </div>
        <!--Facts Column
        <div class="facts-box">
            <div class="row clearfix">
                <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                    <div class="fact-inner">
                        <div class="fact-count wow zoomInStable" data-wow-delay="0ms" data-wow-duration="2000ms">
                            <div class="count-box counted"><span class="count-text" data-stop="25"
                                    data-speed="2000">25</span>+</div>
                        </div>
                        <h4>Years Exp.</h4>
                        <div class="text">Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
                <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                    <div class="fact-inner">
                        <div class="fact-count wow zoomInStable" data-wow-delay="300ms" data-wow-duration="2000ms">
                            <div class="count-box counted"><span class="count-text" data-stop="712"
                                    data-speed="5000">712</span></div>
                        </div>
                        <h4>Project Done</h4>
                        <div class="text">Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
                <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                    <div class="fact-inner">
                        <div class="fact-count wow zoomInStable" data-wow-delay="600ms" data-wow-duration="2000ms">
                            <div class="count-box counted"><span class="count-text" data-stop="310"
                                    data-speed="4000">310</span></div>
                        </div>
                        <h4>Awards Win</h4>
                        <div class="text">Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
-->
<!--Facts Section-->
<section class="facts-section-two alternate">
    <div class="circles">
        <div class="c-1"></div>
        <div class="c-2"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title">
            <h2>Всегда готовы к новым предложениям и идеям</h2>
            <div class="lower-text">Так что, можете озвучивать свои предложения и </div>
        </div>
        <!--Facts Column-->
        <div class="facts-box">
            <div class="row clearfix">
                <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                    <div class="fact-inner">
                        <div class="fact-count wow zoomInStable" data-wow-delay="0ms" data-wow-duration="2000ms"><div class="count-box counted"><span class="count-text" data-stop="25" data-speed="2000">3</span></div></div>
                        <h4>3 полноценных здания</h4>
                        <div class="text">У нас большой выбор услуг. Скучать не предется.</div>
                    </div>
                </div>
                <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                    <div class="fact-inner">
                        <div class="fact-count wow zoomInStable" data-wow-delay="600ms" data-wow-duration="2000ms"><div class="count-box counted"><span class="count-text" data-stop="310" data-speed="4000">30</span></div></div>
                        <h4>Вместимость нашей сауны</h4>
                        <div class="text">Наша сауна оборудована новейшими технологиями и может одновременно принимать до 30 человек, обеспечивая комфортный отдых для всех гостей</div>
                    </div>
                </div>
                <div class="fact-block col-lg-4 col-md-6 col-sm-12">
                    <div class="fact-inner">
                        <div class="fact-count wow zoomInStable" data-wow-delay="300ms" data-wow-duration="2000ms"><div class="count-box counted"><span class="count-text" data-stop="712" data-speed="5000">100+</span></div></div>
                        <h4>Довольных клиентов</h4>
                        <div class="text">Более 70 счастливых клиентов за первый месяц работы</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!--Why Section-->
<section class="why-us-two alternate">
    <div class="pattern-top"></div>
    <span class="dotted-pattern dotted-pattern-6"></span>
    <span class="tri-pattern tri-pattern-5"></span>
    <div class="circles">
        <div class="c-1"></div>
        <div class="c-2"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>Почемы именно мы</h2>
            <div class="lower-text">В нашей компании мы ценим здоровье и благополучие наших клиентов. Поэтому мы предлагаем только высококачественные услуги и продукты, чтобы обеспечить ваше максимальное удовлетворение. 
                Наши специалисты всегда готовы помочь вам с выбором процедуры и ответить на любые ваши вопросы.</div>
            </div>
        <div class="row clearfix">
            <!--Feature Box-->
            <div class="feature-box-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="circle"></span>
                        <span class="flaticon-wine"></span>
                    </div>
                    <h4>Ресторан и бар</h4>
                </div>
            </div>

            <!--Feature Box-->
            <div class="feature-box-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="200ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="circle"></span>
                        <span class="flaticon-modem"></span>
                    </div>
                    <h4>Бесплатный Wi-Fi</h4>
                </div>
            </div>

            <!--Feature Box-->
            <div class="feature-box-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="circle"></span>
                        <span class="flaticon-swimming-pool-1"></span>
                    </div>
                    <h4>Доступ к бассейну</h4>
                </div>
            </div>

            <!--Feature Box-->
            <div class="feature-box-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="circle"></span>
                        <span class="flaticon-conference"></span>
                    </div>
                    <h4>Большие комнаты</h4>
                </div>
            </div>

            <!--Feature Box-->
            <div class="feature-box-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="circle"></span>
                        <span class="flaticon-aromatherapy"></span>
                    </div>
                    <h4>Здоровье и красота</h4>
                </div>
            </div>

            <!--Feature Box-->
            <div class="feature-box-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="200ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="circle"></span>
                        <span class="flaticon-cardio"></span>
                    </div>
                    <h4>Фитнес для тела</h4>
                </div>
            </div>

            <!--Feature Box-->
            <div class="feature-box-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="circle"></span>
                        <span class="flaticon-snowboard"></span>
                    </div>
                    <h4>Снэки</h4>
                </div>
            </div>

            <!--Feature Box-->
            <div class="feature-box-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="circle"></span>
                        <span class="flaticon-bowling"></span>
                    </div>
                    <h4>Игровая зона</h4>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Video Section-->
<section class="video-section">
    <div class="image-layer" style="background-image: url(static/images/main-photo/towels-in-the-interior.jpg);"></div>
    <div class="auto-container">
        <div class="content-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="2000ms">
            <h1>Посмотрите на наш опыт до того, как почувствовать</h1>
            <div class="play-link"><a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="lightbox-image"><span
                        class="icon flaticon-play-button-3"></span></a></div>
        </div>
    </div>
</section>

<!--News Section-->
<!--
    <section class="news-section-three">
        <div class="auto-container">
            <div class="sec-title centered">
                <h2>Stay Update with <br>Hotera</h2>
                <div class="lower-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
            <div class="row clearfix">
                <!--News Block--
                <div class="news-block-four col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="static/images/resource/news-image-4.jpg" alt="" title=""></a></figure>
                        </div>
                        <div class="lower-box">
                            <div class="date"><span class="day">02</span>Sep</div>
                            <div class="post-meta">
                                <ul class="clearfix">
                                    <li><a href="#"><span>Sara dodly</span></a></li>
                                    <li><a href="#"><span>03 Comments</span></a></li>
                                    <li><a href="#"><span>Travel</span></a></li>
                                </ul>
                            </div>
                            <h4><a href="blog-single.html">Disclosing the Secrets of Success in Hotera.</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim minim.</div>
                            <div class="link-box">
                                <a href="blog-single.html"><span class="icon flaticon-arrows-10"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News Block--
                <div class="news-block-four col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="static/images/resource/news-image-5.jpg" alt="" title=""></a></figure>
                        </div>
                        <div class="lower-box">
                            <div class="date"><span class="day">02</span>Sep</div>
                            <div class="post-meta">
                                <ul class="clearfix">
                                    <li><a href="#"><span>Sara dodly</span></a></li>
                                    <li><a href="#"><span>03 Comments</span></a></li>
                                    <li><a href="#"><span>Travel</span></a></li>
                                </ul>
                            </div>
                            <h4><a href="blog-single.html">The Top Hotel Trends to Watch in 2020.</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim minim.</div>
                            <div class="link-box">
                                <a href="blog-single.html"><span class="icon flaticon-arrows-10"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News Block--
                <div class="news-block-four col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="static/images/resource/news-image-6.jpg" alt="" title=""></a></figure>
                        </div>
                        <div class="lower-box">
                            <div class="date"><span class="day">02</span>Sep</div>
                            <div class="post-meta">
                                <ul class="clearfix">
                                    <li><a href="#"><span>Sara dodly</span></a></li>
                                    <li><a href="#"><span>03 Comments</span></a></li>
                                    <li><a href="#"><span>Travel</span></a></li>
                                </ul>
                            </div>
                            <h4><a href="blog-single.html">Seven Best Things To Do In Arizona.</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim minim.</div>
                            <div class="link-box">
                                <a href="blog-single.html"><span class="icon flaticon-arrows-10"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
<!--End pagewrapper--><!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>

{% endblock %}