{% extends 'base.html' %}

{% block content %}

    <!-- Banner Section -->
    <section class="page-banner ext-banner">
        <div class="image-layer" style="background-image:url(static/images/page404/oshibka.png);background-position:center;"></div>
        <div class="banner-bottom-pattern"></div>

        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!--Wellness Spa Section-->
    <section class="wellness-spa">
        <span class="dotted-pattern dotted-pattern-3"></span>
        <span class="tri-pattern tri-pattern-3"></span>
        <div class="auto-container">
            <div class="upper-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="upper-inner">
                    <div class="circles">
                        <div class="c-1"></div>
                        <div class="c-2"></div>
                    </div>
                    <h2>Ошибка 404 Страница не найдена</h2>
                    <!--
                    <div class="hours">Opening Hours: <span>09:00AM - 10:00PM</span></div>
                    -->
                    <div class="text">
                        <p>Страница не найдена</p>

                        <p>Извините, но страница, которую вы ищете, не существует. Возможно, она была удалена или перемещена.
                        Пожалуйста, проверьте правильность введенного адреса или воспользуйтесь навигацией по сайту, 
                        чтобы найти нужную информацию.
                        Если у вас возникли какие-либо вопросы или проблемы, не стесняйтесь обращаться к нашей службе поддержки.</p>
                            
                        <p>Спасибо за понимание!</p>
                    </div>
                    <div class="link-box">
                        <a href="/index" class="theme-btn btn-style-one"><span class="btn-title">На главную страницу</span></a>
                    </div>
                </div>
            </div>

            <div class="lower-box">
                <span class="dotted-pattern dotted-pattern-3"></span>
                <div class="row clearfix">
                    <div class="image-block col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image"><a href="images/resource/featured-image-46.jpg" class="lightbox-image"><img src="images/resource/featured-image-46.jpg" alt="" title=""></a></figure>
                    </div>
                    <div class="image-block col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image"><a href="images/resource/featured-image-47.jpg" class="lightbox-image"><img src="images/resource/featured-image-47.jpg" alt="" title=""></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--End pagewrapper--><!--Scroll to top--><div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>
{% endblock %}