{% extends 'base.html' %}

{% block content %}
<!-- Banner Section -->
<section class="page-banner">
    <div class="image-layer" style="background-image:url(static/images/main-photo/banya-krasivie-foto.jpg);"></div>
    <div class="banner-bottom-pattern"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Главная</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/index">Главная</a></li>
                        <li class="active">Услуги</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<!--Featured Section-->
<section class="featured-section-four about-page">
    <span class="dotted-pattern dotted-pattern-11"></span>
    <div class="circles-two">
        <div class="c-1"></div>
        <div class="c-2"></div>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title">
                        <h2>Наши услуги</h2>
                    </div>
                    <div class="text">Современная и стильная баня. Приятная и уютная обстановка, распологающая к
                        комфортнуму отдыху. В вашем распоряжении 3 сауны, джакузи, бассейны, комнаты отдыха, спутниковое
                        ТВ и бильярд.</div>
                    <ul class="features">
                        <li>Возможен расчет пластиковой картой</li>
                        <li>Можете позвонить и забронировать удобное для вас время</li>
                    </ul>
                    <div class="signature"><img src="static/images/resource/signature-1.png" alt="" title=""></div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <span class="dotted-pattern dotted-pattern-10"></span>
                    <div class="image-box clearfix">
                        <figure class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><img
                                src="static/images/index/rus_billiard.jpeg" alt="" title=""></figure>
                        <figure class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"><img
                                src="static/images/main-photo/towels-in-the-interior.jpg" alt="" title=""></figure>
                        <figure class="image wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms"><img
                                src="static/images/main-photo/sea-salt-towels.jpg" alt="" title=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sidebar-page-container">
    <div class="circles-two">
        <div class="c-1"></div>
        <div class="c-2"></div>
    </div>
    <span class="dotted-pattern dotted-pattern-5"></span>
    <span class="tri-pattern tri-pattern-8"></span>

</div>
</div>
</div>
<!--End pagewrapper--><!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>
{% endblock %}